{% extends 'home/home.html' %}
{% load static %}
{% block links %}
<style>
    .item_img{
        width:80px;
        height:80px;
        object-fit:contain;
    }
    .zxc{
        z-index:10;
    }
   .no_image_attr{
    width:80px;
    height:80px;
    background:rgba(0,0,0,0.6);
   }
   .bg_pr{
    background: green;
   }
   .img_user{
    width:200px;
    height:auto;
    object-fit:cover;
    position:relative;
    z-index:3;
   }
   .shadown{
    box-shadow: 0 0 20px white;
    border-bottom-left-radius:0.3em;
    border-bottom-right-radius:0.3em;
    transition:1s;
    overflow:hidden;
}
.shadown:hover{
    box-shadow:none;
}
</style>
{% endblock links %}
{% block cont %}
<div class="card zxc">
    <div class="card-header">
      {{usr.username}}
    </div>
    <div class="card-body d-flex p-3 shadown">
        <div class='m-3 d-flex flex-column align-items-between'>
            <div class="img_user"><img src="{% if user.dungeon_lvl == 1 %}{% static 'img/based_2.png' %}{% elif user.dungeon_lvl == 2 %}{% static 'img/based_3.png' %}{% elif user.dungeon_lvl == 3 %}{% static 'img/based_4.png' %}{% elif user.dungeon_lvl == 4 %}{% static 'img/based_5.png' %}{% else %}{% static 'img/based_6.png' %}{% endif %}" class="w-100 h-100" /></div>
            <span>Health: {{usr.health}}/100</span>
            <div class="progress mt-1">
                <div class="progress-bar bg_pr" role="progressbar" style="width: {{usr.health}}%" aria-valuenow="{{usr.health}}" aria-valuemin="0" aria-valuemax="100">Health: {{usr.health}}</div>
            </div>
        </div>
        <div class='m-3'>
            <span class="text-center">Weapon</span>
            {% if usr.weapon.img %}
            <div><img src="{{usr.weapon.img.url}}" class="item_img mb-3"/></div>
            {% else %}
            <div class='no_image_attr mb-3'></div>
            {% endif %}
            <span class='text-center'>Shield</span>
            {% if usr.armor.img %}
            <div><img src="{{usr.armor.img.url}}" class="item_img mb-3"/></div>
            {% else %}
            <div class='no_image_attr'></div>
            {% endif %}
        </div>
        <div class='m-3 '>
            <div class='text-center'><b>Stats</b></div>
            <div>Damage: {{usr.ReturnAllDamage}}</div>
            <div>Defence: {{usr.ReturnAllArmor}}</div>
            <div>Balance: {{usr.balance}} $</div>
            <div>LVL: {{usr.CheckEXP}}</div>
            <div class="mt-3">Exp:</div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{usr.exp}}%;" aria-valuenow="{{usr.exp}}" aria-valuemin="0" aria-valuemax="100">{% if usr.lvl == 99 %}max{% else %}{{usr.exp}}/100{% endif %}</div>
            </div>
            </div>
        </div>
    </div>
  </div>
{% endblock cont %}