{% extends 'home/home.html' %}
{% load static %}
{% block links %}
<style>
   form{
    position:relative;
    z-index:999;
    border-radius:0.2em;
    box-shadow:0 0 20px white;
    transition:500ms;
   }
   form:hover{
    box-shadow:none;
   }
   
</style>
{% endblock links %}
{% block cont %}
<form method="post" enctype="multipart/form-data" class="bg-light d-flex flex-column p-3">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Update" class="btn btn-outline-dark mt-3">
</form>
{% endblock cont %}