{% extends 'home/home.html' %}
{% load static %}
{% block links %}
<style>
    
    .item_img{
            
        width:80px;
        height:80px;
    }
    .zxc{
        z-index:10;
    }
   .no_image_attr{
    width:80px;
    height:80px;
    background:rgba(0,0,0,0.6);
   }
   .bg_pr{
    background: green;
   }
   .img_user{
    width:200px;
    height:auto;
    object-fit:cover;
    position:relative;
    z-index:3;
   }
   .shadown{
    box-shadow: 0 0 20px white;
    border-bottom-left-radius:0.3em;
    border-bottom-right-radius:0.3em;
    transition:1s;
    overflow:hidden;
}
.shadown:hover{
    box-shadow:none;
}
</style>
{% endblock links %}
{% block cont %}
{% if user.is_authenticated %}
<div class="card zxc">
    <div class="card-header">
      {{user.username}}
    </div>
    <div class="card-body d-flex p-3 shadown">
        <div class='m-3 d-flex flex-column align-items-between'>
            <div class="img_user"><img src="{% static 'img/based_2.png' %}" class="w-100 h-100" /></div>
            <span>Health: {{user.health}}/100</span>
            <div class="progress mt-1">
                <div class="progress-bar bg_pr" role="progressbar" style="width: {{user.health}}%" aria-valuenow="{{user.health}}" aria-valuemin="0" aria-valuemax="100">Health: {{user.health}}</div>
            </div>
        </div>
        <div class='m-3'>
            <span class="text-center">Weapon</span>
            {% if user.weapon.img %}
            <div><img src="{{user.weapon.img.url}}" class="item_img mb-3"/></div>
            {% else %}
            <div class='no_image_attr mb-3'></div>
            {% endif %}
            <span class='text-center'>Shield</span>
            {% if user.armor.img %}
            <div><img src="{{user.armor.img.url}}" class="item_img mb-3"/></div>
            {% else %}
            <div class='no_image_attr'></div>
            {% endif %}
        </div>
        <div class='m-3 '>
            <div class='text-center'><b>Stats</b></div>
            <div>Your damage: {{user.ReturnAllDamage}}</div>
            <div>Your defence: {{user.ReturnAllArmor}}</div>
            <div>Your balance: {{user.balance}} $</div>
            <div>Your LVL: {{user.CheckEXP}}</div>
            <div class="mt-3">Exp:</div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{user.exp}}%;" aria-valuenow="{{user.exp}}" aria-valuemin="0" aria-valuemax="100">{{user.exp}}/100</div>
            </div>
            </div>
        </div>
    <div class="card-footer">  
        <a class="btn btn-info m-2" href="{{user.get_absolute_delete}}">Delete User</a>
    </div>
  </div>
  {% else %}
  <a href="{% url 'home' %}" class='btn btn-outline-light zxc'>Back to home page</a>
  {% endif %}
{% endblock cont %}